$line-hight: 1.5;

$color-background: #111722;
$color-surface: #1c2434;

$color-text-primary: #e5e7eb;
$color-text-secondary: #9ca3af;

$color-action-text: $color-text-secondary;
$color-action-text-hover: #fff;

$spacing-unit: 1rem;
